hr {
    background-image: linear-gradient(to right, transparent, rgba(242, 156, 59, 0.737), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;
    box-sizing:content-box;
    display: block;
}

.basket {
    height: 100vh;
    background-color: #161516;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    overflow-x: auto;
}

.basket__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 80px;
    padding-top: 53px;
    padding: 55px 150px 0 150px;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
}

.link-basket {
    padding: 15px 4px;
    width: 40px;
    height: 40px;
    margin-left: 70px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #D58C51;
}

.back {
    
    margin-bottom: 5px;
}

.container-basket {
    width: 860px;
    margin: 0 auto;
}

.basketCards {
    text-decoration: none
}

hr {
    background-image: linear-gradient(to right, transparent, rgba(242, 156, 59, 0.737), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;
    box-sizing:content-box;
    display: block;
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: #161516;
}

.footer .container-basket {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-desc {
    display: flex;
    align-items: baseline;
}

.footer__text {
    margin-right: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
}

.footer__sum {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}

.footer__btn {
    margin: 25px 0px;
    padding: 12px 40px;
    background-color: #D58C51;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    cursor: pointer;
}

