.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 552px;
    padding: 43px 20px 32px 20px;
    border: 1px solid #D58C51;
    color: #FFFFFF;
    box-sizing: border-box;
    transition-duration: 0.25s;
    cursor: pointer;
}

.card:hover {
    color: #D58C51;
}

.cardBasket {
    display: flex;
    justify-content: space-between;
    
}

.card__img {
    margin-bottom: 31px;
}

.card__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 13px;
}

.card__desc {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px; 
}

.card__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: flex-end;
}

.card__down-price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-right: 4px;
}

.card__down-weight {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: end;
}

.card__down-plus {
        display: flex;
    align-items: center;
    margin: auto 0;
    display:inline-block;
    border-radius:50%;
    border:1px solid #FFFFFF; 
    width:30px;
    height:30px;
    cursor: pointer;
    background-position:center;
    background-color: transparent;
}

