body {
	background: url('../../assets/background.png'), no-repeat;
    background-repeat:no-repeat;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
    background-size: 100% auto;
}

.login-form {
	position: relative;
	margin: 0 auto;
	background: #FFFFFF;
	z-index: 1;
	display: block;
	margin: 300px auto 0 auto;
    width: 460px;
    height: 340px;
}

.link {
    left: 1074px;
    position: absolute;
    z-index: 2;
    justify-content: flex-end;
    font-weight: 300;
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
    color: #D58C51;
    background-color: #FFFFFF;
    text-decoration-line: underline;
    border: none;
}

.login-header {
    font-weight: 700;
    padding: 37px 0 0 0;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
	text-align: center;
    margin: 0 auto;
}

.input-email {
    padding: 0 20px;
}

.login-email {
	margin: 10px 0 0;
    width: 420px;
    height: 39px;
    border: 1px solid #D58C51;
    border-radius: 61px;
}

.input-password {
    padding: 0 20px;
}

.login-password {
    margin: 15px 0 0;
    width: 420px;
    height: 39px;
    border: 1px solid #D58C51;
    border-radius: 61px;
}

.login-email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}

.login-password::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}

label {
	margin: auto 0 auto 18px;
	color: #787878;
}

#checkbox-input {
	position: absolute;
	width: 24px;
	height: 24px;
	opacity: 0;
	font-size: 10px;
	cursor: pointer;
}

#label-checkbox {
    cursor: pointer;
}

.form__custom-checkbox {
	width: 24px;
	height: 24px;
	border: 2px solid #D58C51;
	border-radius: 16px;
	margin-right: 2px;
}

.login-form__checkbox_input:checked + .form__custom-checkbox {
	background: #D58C51;
}

.login-form__checkbox_input:checked + .form__custom-checkbox::after {
	content: '✓';
	color: #FFFFFF;
	font-size: 18px;
	margin-left: 5px;
}

.mandatory-field {
	color: red;
	margin: auto auto auto 18px;
	font-size: 10px;
	display: none;
	line-height: 10px;
}

.flex-class-checkbox {
	display: flex;
    padding: 17px 20px 0;
}

.login-form__email-invalid {
	color: red;
	font-size: 10px;
	display: none;
}

.login-form__password-length {
	color: red;
	font-size: 10px;
	display: none;
}

.error-message {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	color: white;
	font-size: 50px;
	z-index: -99;
}

/* кнопка */

.button-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto 26px auto;
	text-align: center;
}

.button-wrapper_btn {
	background: #D58C51;
	color: #131313;
	line-height: 17px;
    width: 200px;
    height: 42px;
	font-size: 14px;
	cursor: pointer;
}
